In [ ]:
# Author: @SpencerAndTheMatt
# Energy prediction 3 (ASHRAE)
# Imports/Formatting
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from tensorflow import keras


import warnings
warnings.filterwarnings('ignore')

In [ ]:
'''
README
With getting processed data, this programme reads in as feather, and then converts
it to CSV. Google colab RAM cannot handle reading them both in as CSV.
'''

'\nREADME\nWith getting processed data, this programme reads in as feather, and then converts\nit to CSV. Google colab RAM cannot handle reading them both in as CSV.\n'

In [ ]:
# Get PROCESSED train data from drive 
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
train_data = pd.read_feather('/content/drive/My Drive/training_data_processed_feather.feather')

Mounted at /content/drive

In [ ]:
# Get PROCESSED test data from drive
test_data = pd.read_feather('/content/drive/My Drive/testing_data_processed_feather.feather')

In [ ]:
# Convert training data back to CSV file
train_data.to_csv('train_data', index = False)

In [ ]:
# Convert testing data back to CSV file
test_data.to_csv('test_data', index = False)

In [ ]:
# Check type
print('Type of train_data: ', type(train_data))
print('Type of test_data: ', type(test_data))

Type of train_data:  <class 'pandas.core.frame.DataFrame'>
Type of test_data:  <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Drop index columns
train_data = train_data.drop('index', axis = 1, errors = 'ignore')
test_data = test_data.drop('index', axis = 1, errors = 'ignore')

In [ ]:
# Inspect train_data
train_data.head()

,building_id,square_feet,primary_use,meter,air_temperature,day_of_year,hour,isDayTime,day_of_week,meter_reading
0,46,9.109375,11,0,25.000000,1.0,0.0,0,4.0,3.994141
1,74,12.867188,8,0,25.000000,1.0,0.0,0,4.0,3.785156
2,93,10.414062,6,0,25.000000,1.0,0.0,0,4.0,3.978516
3,105,10.835938,0,0,3.800781,1.0,0.0,0,4.0,3.191406
4,106,8.585938,0,0,3.800781,1.0,0.0,0,4.0,0.318115

In [ ]:
# Inspect test_data
test_data.head()

,building_id,square_feet,primary_use,meter,air_temperature,day_of_year,hour,isDayTime,day_of_week
0,0,8.914062,0,0,17.796875,1.0,0.0,0,6.0
1,1,7.910156,0,0,17.796875,1.0,0.0,0,6.0
2,2,8.593750,0,0,17.796875,1.0,0.0,0,6.0
3,3,10.070312,0,0,17.796875,1.0,0.0,0,6.0
4,4,11.664062,0,0,17.796875,1.0,0.0,0,6.0

In [ ]:
'''
--------------------------------------------------------------------------------
IMPLEMENTATION
'''

'\n--------------------------------------------------------------------------------\nIMPLEMENTATION\n'

In [ ]:
# Get X_train and y_train
X_train = train_data.drop('meter_reading', axis = 1)
y_train = train_data['meter_reading'].values

In [ ]:
 # Split data for test and train
train_x, test_x, train_y, test_y = train_test_split(X_train, y_train, test_size = 0.2, random_state = 42)

In [ ]:
# Define RMSLE specifically for neural network
from keras import backend as k
def NN_RMSLE(y_act, y_pred):
  return k.sqrt(k.mean(k.square(y_pred - y_act)))

In [ ]:
# Split into train and validation sets
train_xx, val_xx, train_yy, val_yy = train_test_split(train_x, train_y, test_size = 0.2, random_state = 42)

In [ ]:
# Define model
from keras.models import Sequential
from keras import layers
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

model = Sequential()

# Add layers, etc
model.add(layers.Dense(512, activation = 'relu', input_shape = (train_xx.shape[1], )))
model.add(Dense(1, activation = 'linear'))
model.compile(optimizer = 'adam', loss = NN_RMSLE)

# Fit model
model.fit(train_xx, train_yy, epochs = 50, batch_size = 2048, validation_data = (val_xx, val_yy))

Epoch 1/50
5732/5732 [==============================] - 58s 10ms/step - loss: 1.5687 - val_loss: 1.5688
Epoch 2/50
5732/5732 [==============================] - 52s 9ms/step - loss: 1.4099 - val_loss: 1.3390
Epoch 3/50
5732/5732 [==============================] - 52s 9ms/step - loss: 1.3438 - val_loss: 1.3339
Epoch 4/50
5732/5732 [==============================] - 53s 9ms/step - loss: 1.3054 - val_loss: 1.1767
Epoch 5/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.2737 - val_loss: 1.3266
Epoch 6/50
5732/5732 [==============================] - 53s 9ms/step - loss: 1.2493 - val_loss: 1.2554
Epoch 7/50
5732/5732 [==============================] - 51s 9ms/step - loss: 1.2292 - val_loss: 1.3547
Epoch 8/50
5732/5732 [==============================] - 55s 10ms/step - loss: 1.2124 - val_loss: 1.1411
Epoch 9/50
5732/5732 [==============================] - 53s 9ms/step - loss: 1.1993 - val_loss: 1.1750
Epoch 10/50
5732/5732 [==============================] - 53s 9ms/step - loss: 1.1887 - val_loss: 1.2800
Epoch 11/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.1788 - val_loss: 1.1281
Epoch 12/50
5732/5732 [==============================] - 55s 10ms/step - loss: 1.1694 - val_loss: 1.2257
Epoch 13/50
5732/5732 [==============================] - 53s 9ms/step - loss: 1.1608 - val_loss: 1.1378
Epoch 14/50
5732/5732 [==============================] - 54s 10ms/step - loss: 1.1551 - val_loss: 1.1233
Epoch 15/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.1489 - val_loss: 1.1363
Epoch 16/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.1463 - val_loss: 1.1218
Epoch 17/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.1407 - val_loss: 1.1327
Epoch 18/50
5732/5732 [==============================] - 54s 9ms/step - loss: 1.1379 - val_loss: 1.1760
Epoch 19/50
5732/5732 [==============================] - 57s 10ms/step - loss: 1.1350 - val_loss: 1.1234
Epoch 20/50
5732/5732 [==============================] - 55s 10ms/step - loss: 1.1313 - val_loss: 1.1740
Epoch 21/50
5732/5732 [==============================] - 56s 10ms/step - loss: 1.1282 - val_loss: 1.1448
Epoch 22/50
5732/5732 [==============================] - 55s 10ms/step - loss: 1.1252 - val_loss: 1.1252
Epoch 23/50
5732/5732 [==============================] - 55s 10ms/step - loss: 1.1222 - val_loss: 1.1043
Epoch 24/50
5732/5732 [==============================] - 58s 10ms/step - loss: 1.1190 - val_loss: 1.1516
Epoch 25/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.1154 - val_loss: 1.1049
Epoch 26/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.1133 - val_loss: 1.1179
Epoch 27/50
5732/5732 [==============================] - 63s 11ms/step - loss: 1.1116 - val_loss: 1.1308
Epoch 28/50
5732/5732 [==============================] - 59s 10ms/step - loss: 1.1094 - val_loss: 1.1266
Epoch 29/50
5732/5732 [==============================] - 59s 10ms/step - loss: 1.1082 - val_loss: 1.0936
Epoch 30/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.1064 - val_loss: 1.0935
Epoch 31/50
5732/5732 [==============================] - 64s 11ms/step - loss: 1.1044 - val_loss: 1.1077
Epoch 32/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.1034 - val_loss: 1.1194
Epoch 33/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.1018 - val_loss: 1.0925
Epoch 34/50
5732/5732 [==============================] - 59s 10ms/step - loss: 1.1005 - val_loss: 1.1435
Epoch 35/50
5732/5732 [==============================] - 60s 11ms/step - loss: 1.0989 - val_loss: 1.1026
Epoch 36/50
5732/5732 [==============================] - 60s 10ms/step - loss: 1.0979 - val_loss: 1.0998
Epoch 37/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0968 - val_loss: 1.1057
Epoch 38/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0958 - val_loss: 1.0836
Epoch 39/50
5732/5732 [==============================] - 63s 11ms/step - loss: 1.0945 - val_loss: 1.0897
Epoch 40/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.0932 - val_loss: 1.0939
Epoch 41/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0921 - val_loss: 1.0849
Epoch 42/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0911 - val_loss: 1.0896
Epoch 43/50
5732/5732 [==============================] - 60s 10ms/step - loss: 1.0910 - val_loss: 1.0925
Epoch 44/50
5732/5732 [==============================] - 59s 10ms/step - loss: 1.0899 - val_loss: 1.0781
Epoch 45/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0890 - val_loss: 1.0868
Epoch 46/50
5732/5732 [==============================] - 60s 11ms/step - loss: 1.0876 - val_loss: 1.0827
Epoch 47/50
5732/5732 [==============================] - 61s 11ms/step - loss: 1.0877 - val_loss: 1.0844
Epoch 48/50
5732/5732 [==============================] - 62s 11ms/step - loss: 1.0869 - val_loss: 1.0835
Epoch 49/50
5732/5732 [==============================] - 57s 10ms/step - loss: 1.0865 - val_loss: 1.0925
Epoch 50/50
5732/5732 [==============================] - 56s 10ms/step - loss: 1.0854 - val_loss: 1.0942

In [ ]:
# Use model to make a prediction 
prediction = model.predict(test_data)

In [ ]:
# Show prediction
prediction

In [ ]:
# Inspect and flatten prediction
prediction_flat = prediction.flatten()
len(prediction_flat)

In [ ]:
# Create row_id column for Kaggle submission
row_id = (np.arange(0, len(prediction_flat))).astype(np.int32)

In [ ]:
# Verify row_id is the required ~ 41 million entries
len(row_id)

In [ ]:
#df = pd.DataFrame({'row_id':row_id, 'meter_reading':prediction_flat})

In [ ]:
#df.to_csv('/content/drive/My Drive/RNN_prediction.csv', index = False)

In [ ]:
#df.head()

In [ ]:
# Construct dataframe
df_2 = pd.DataFrame({'row_id': row_id, 'meter_reading':np.expm1(prediction_flat)})

In [ ]:
# Save as csv
df_2.to_csv('/content/drive/My Drive/RNN_prediction_expm1.csv', index = False)

In [ ]:
# Accuracy metrics
from sklearn import metrics as met
r2_epochs20 = met.r2_score(train_yy[0:2000000], model.predict(train_xx[0:2000000]))

In [ ]:
# Show metrics
print('R2 score for model is {}'.format(r2_epochs20))
print('Training RMSLE is {}'.format(error_train))
print('Test RMSLE is {}'.format(error_test))

R2 score for model is 0.6196341341432954
Training RMSLE is 1.0738378763198853
Test RMSLE is 1.0738378763198853